<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Combalph | {{#i18n}}button.FAQ{{/i18n}}</title>
</head>
<body>
<header>
    {{> logo}} {{> lang}}
</header>
<section class="text faq">
    <h2>{{#i18n}}faq.promo{{/i18n}}</h2>
    <ol>
        <li>{{#i18n}}faq.1step{{/i18n}}</li>
        <li>{{#i18n}}faq.2step{{/i18n}}</li>
        <li>{{#i18n}}faq.3step{{/i18n}}</li>
        <li>{{#i18n}}faq.4step{{/i18n}}</li>
    </ol>

    <h2>{{#i18n}}faq.isFree{{/i18n}}</h2>
    <p>{{#i18n}}faq.isFreeAnswer{{/i18n}}</p>

    <h2>{{#i18n}}faq.languageSupport{{/i18n}}</h2>
    <ul>
        <li>{{#i18n}}faq.languageSupportSite{{/i18n}}</li>
        <li>{{#i18n}}faq.languageSupportText{{/i18n}}</li>
        <li>{{#i18n}}faq.languageSupportJapanese{{/i18n}}</li>
    </ul>

    <h2>{{#i18n}}faq.formats{{/i18n}}</h2>
    <p>{{#i18n}}faq.formatsAnswer{{/i18n}}</p>

    <h2>{{#i18n}}faq.signUp{{/i18n}}</h2>
    <p>{{#i18n}}faq.signUpNo{{/i18n}}</p>
    <p>{{#i18n}}faq.signUpYes{{/i18n}}</p>

    <h2 id="whatIsKey">{{#i18n}}faq.key{{/i18n}}</h2>
    <p>{{#i18n}}faq.keyAnswer{{/i18n}}</p>

    <table align="center">
        <tr><th></th><th>{{#i18n}}faq.withKey{{/i18n}}</th><th>{{#i18n}}faq.withoutKey{{/i18n}}</th></tr>
        <tr>
            <td>{{#i18n}}faq.amountOfFiles{{/i18n}}</td><td class="yes">&infin;</td><td class="yes">&infin;</td>
        </tr>
        <tr>
            <td>{{#i18n}}faq.fileSize{{/i18n}}</td><td class="yes">&infin;</td><td class="yes">&infin;</td>
        </tr>
        <tr>
            <td>{{#i18n}}faq.combining{{/i18n}}</td><td class="yes">V</td><td class="yes">V</td>
        </tr>
        <tr>
            <td>{{#i18n}}faq.storeTexts{{/i18n}}</td><td class="yes">V</td><td class="no">X</td>
        </tr>
    </table>

    <h2>{{#i18n}}faq.myKey{{/i18n}}</h2>
    <p>{{#i18n}}faq.myKeyAnswer{{/i18n}}</p>

    <h2>{{#i18n}}faq.moreKey{{/i18n}}</h2>
    <p>{{#i18n}}faq.moreKeyAnswer{{/i18n}}</p>

    <h2>{{#i18n}}faq.goodLuck{{/i18n}}</h2>

    <h2><a class="getkey" href="https://github.com/Dzeru/combalph" target="_blank">{{#i18n}}faq.github{{/i18n}}</a></h2>
    <div class="iconCredits">
        <p>{{#i18n}}faq.author{{/i18n}} Dzeru</p>
        <p>{{#i18n}}faq.iconMadeBy{{/i18n}} <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> {{#i18n}}faq.from{{/i18n}} <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> {{#i18n}}faq.isLicensed{{/i18n}} <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
    </div>
</section>
</body>
</html>