<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Combalph</title>
</head>
<body>
<header>
    {{> logo}}
</header>
<aside class="leftColumn">
    {{> getkey}}
    {{> finding}}
</aside>
<section class="text">
    <form action="/fill" method="post">
        {{> params}}
        <div class="simplediv" align="center">
            {{#filename}}{{filename}}{{/filename}}
        </div>
        <div class="simplediv" align="center">
            <input class="btn" type="submit" value="{{#i18n}}button.combine{{/i18n}}">
        </div>
        <div class="simplediv" align="center"><textarea readonly cols=60 rows=30 placeholder="{{#i18n}}placeholder.text{{/i18n}}" name="text">{{#text}}{{text}}{{/text}}</textarea>
        </div>
        <input type="hidden" name="filename" value="{{#filename}}{{filename}}{{/filename}}">
    </form>
</section>
</body>
</html>