<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    <meta charset=utf-8"/>
    <title>Combalph</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
{{> logo}}
<div class="leftColumn">
    {{> getkey}}
    {{> finding}}
</div>
<div class="text">
    <form action="/fill" method="post">
        {{> params}}
        <div align="center">
            <input class="btn" type="submit" value="Get combined text">
        </div>
        <div align="center"><textarea readonly cols=60 rows=30 name="text">{{#text}}{{text}}{{/text}}</textarea>
        </div>
        <div align="center">
            <input type="hidden" name="textar" value="{{#text}}{{text}}{{/text}}">
        </div>
    </form>
</div>
</body>
</html>