<div class="simplediv">
    {{#i18n}}key.haveNoKeyYet{{/i18n}} <a class="getkey" href="/getkey" target="_blank">{{#i18n}}key.getKey{{/i18n}}</a><br>
    <a class="getkey" href="/faq#whatIsKey" target="_blank">{{#i18n}}key.whatIsIt{{/i18n}}</a>
</div>