<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	{{> meta}}
	<title>Combalph</title>
</head>
<body>
<header align="center">
{{> logo}} {{> lang}}
</header>
<section class="text" align="center">
	<form action="/upload" method="post" enctype="multipart/form-data">
		{{> params}}
		<div class="btnUpload simplediv" align="center" style="padding-left: 30%; padding-right: 30%;">
			<button type="button">{{#i18n}}button.upload{{/i18n}}</button>
			<input type="file" name="file">
		</div>
		<div class="simplediv" align="center">
			<input class="btn" type="submit" value="{{#i18n}}button.combine{{/i18n}}">
		</div>
		<div class="simplediv" align="center">
			<span class="no">{{#error}}{{#i18n}}{{error}}{{/i18n}}{{/error}}</span>
		</div>
		<div class="simplediv" align="center" style="line-height:150%">
			<span>{{#i18n}}placeholder.type{{/i18n}}</span><br>
			<span>{{#i18n}}placeholder.warning{{/i18n}}</span>
		</div>
        <div class="simplediv" align="center">
			<textarea name="typedText" cols=60 rows=30 placeholder="{{#i18n}}placeholder.text{{/i18n}}">{{#text}}{{text}}{{/text}}</textarea>
        </div>
	</form>
</section>
</body>
</html>