<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	<meta charset=utf-8"/>
	<title>Combalph</title>
	<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
{{> logo}}
<div class="leftColumn">
	{{> getkey}}
	{{> finding}}
</div>
<div class="text">
	<form action="/upload" method="post" enctype="multipart/form-data">
        <div align="center">
            <input type="text" name="key" placeholder="Key like co3m4">
        </div>
		{{> params}}
		<div align="center">
			<input class="btn" type="file" name="file">
		</div>
		<div align="center">
			<input class="btn" type="submit" value="Get combined text">
		</div>
        <div align="center"><textarea readonly cols=60 rows=30 name="text">{{#text}}{{text}}{{/text}}</textarea>
        </div>
	</form>
</div>
</body>
</html>