<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Combalph</title>
</head>
<body>
<header>
    {{> logo}}
</header>
<div class="key">
    {{#key}}
    <p>{{#i18n}}key.newKey{{/i18n}} <b>{{key}}</b></p>
    <p>{{#i18n}}key.remember{{/i18n}}</p>
    <p>{{#i18n}}key.why{{/i18n}}</p>
    {{/key}}
</div>
</body>
</html>