<meta charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/index.css">
<link rel="shortcut icon" type="image/png" href="/favicon.png">
<meta name="description" content="Combalph - minimalistic service for learning Japanese alphabets.">
<meta name="keywords" content="Japanese,японский,language,язык,learning,изучение,learn,учить,katakana,катакана,hiragana,хирагана,online,онлайн">