<div class="simplediv" align="center">
    <input type="radio" name="language" value="en" checked>{{#i18n}}param.en{{/i18n}}
    <input type="radio" name="language" value="ru">{{#i18n}}param.ru{{/i18n}}
</div>
<div class="simplediv" align="center">
    <input type="radio" name="kana" value="hiragana" checked>{{#i18n}}param.hiragana{{/i18n}}
    <input type="radio" name="kana" value="katakana">{{#i18n}}param.katakana{{/i18n}}
</div>
<div class="simplediv" align="center">
    <input type="radio" name="complexityLevel" value="EXTREMELY_EASY">{{#i18n}}param.extEasy{{/i18n}}
    <input type="radio" name="complexityLevel" value="EASY">{{#i18n}}param.easy{{/i18n}}
    <input type="radio" name="complexityLevel" value="NORMAL" checked>{{#i18n}}param.normal{{/i18n}}
    <input type="radio" name="complexityLevel" value="HARD">{{#i18n}}param.hard{{/i18n}}
    <input type="radio" name="complexityLevel" value="EXTREMELY_HARD">{{#i18n}}param.extHard{{/i18n}}
</div>