<div align="center">
    <input type="radio" name="language" value="en" checked>EN
    <input type="radio" name="language" value="ru">RU
</div>
<div align="center">
    <input type="radio" name="kana" value="hiragana" checked>Hiragana
    <input type="radio" name="kana" value="katakana">Katakana
</div>
<div align="center">
    <input type="radio" name="complexityLevel" value="EXTREMELY_EASY">Extremely Easy
    <input type="radio" name="complexityLevel" value="EASY">Easy
    <input type="radio" name="complexityLevel" value="NORMAL" checked>Normal
    <input type="radio" name="complexityLevel" value="HARD">Hard
    <input type="radio" name="complexityLevel" value="EXTREMELY_HARD">Extremely Hard
</div>